
.full {

    width: auto;
    background-color: #2A2550;
    padding-top: 5%;
    padding-bottom: 2%;
}
.contenedor-slick {

 width: 90%;
 margin: 0 auto; 
}

.card-slick {

    
    background-color: #2A2550;
    border-radius: 8px;
    

    height: 250px;
    color: #fff;
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.top-slick {

    height: 220px;
    width: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.top-slick:hover { transform: scale(.9); }

.top-slick h1 {

    font-size: 1rem;
}

.top-slick a {

    color: #FFA500;
    font-size: 26px;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.top-slick a:hover {

    border-bottom: 5px solid #FFA500;
}

.top-slick > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease-in-out;
    border-radius: 8px;
}


.bottom-slick {

    margin: 10px 20px;
}