
.imagen-slider {

    width: 400px;
    height: 350px;
    padding: 40px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
}


.imagen-slider:hover {

    transform: scale(1.2);
    opacity: 0.7;
}


.carousel {

    background-color: black !important;
}